.home-container-all {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.home-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: black;
    position: relative;
    overflow: hidden; 
    min-width: 300px;
    font-family: "Montserrat";
    max-width: 2000px;
}


/* BANDEROLE QUI DEFILE */

.defileParent {
	display: block;
	overflow: hidden;
	position: absolute;
    width: 100%;
    top: 0;
    max-width:100%;
    color: black;
    background-color: #FEFF9D;
}

.defile {
	display:block;
	-webkit-animation:linear marqueelike 10s infinite ;
	-moz-animation:linear marqueelike 10s infinite ;
	-o-animation:linear marqueelike 10s infinite ;
	-ms-animation:linear marqueelike 10s infinite ;
	animation:linear marqueelike 10s infinite ;
	margin-left:-100%;
	padding:0 5px;
	text-align:left;
  font-size:20px;
	white-space:nowrap;
    font-family: 'Jetbrain';
}

.defile:after {
	content:attr(data-text);
	position:absolute;
	white-space:nowrap;
	padding-left:10px;
}

@-webkit-keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }
@-moz-keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }
@-o-keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }
@-ms-keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }
@keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }


/* BANDEROLE QUI DEFILE */

.home-header {
    height: 100px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
}

.home-header-logo {
    height: 60%;
}

.home-header-logo-img {
    height: 100%;
    width: 100%;
}

.home-header-menu {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    
}

.home-header-menu-button {
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .5px solid white;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    

}

.home-header-arrow {
    color: white;
    height: 25px;
    width: 25px;
}

.home-header-arrow-right {
    height: 18px;
    width: 18px;
    color: black;
    margin-left: 3px;
}

#home-header-doc {
    padding-right: 5px;
    padding-left: 12px;
    background-color: #FEFF9D;
    color: black;
}

.home-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10%;
    box-sizing: border-box;
}

.home-title-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    
}

.home-title-subtitle-text {
   font-size: 1.6rem;
   color: white;
   font-weight: 500;
   
}
.home-title-title-text {
    font-size: 100px;
    color: white;
    font-family: "Montserrat";
    font-weight: 700;
    margin: 0;
    text-align: left;
    width: 100%;
    padding-left: 5%;
 }

 .home-title-button {
    border: 3px solid #FEFF9D;
    height: 70px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    color :#FEFF9D;
    font-size: 1.6em;
    box-sizing: border-box;
    padding-left: 2%;
    padding-right: 1%;
    cursor: pointer;

}

.home-title-container-subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding-left: 3%;
    padding-right: 3%;
    font-weight: 500;
    margin-top: 3%;
}

.home-title-button-arrow {
    height: 50px;
    width: 50px;
}

.home-world {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.home-world-img {
    height: 100%;
    width: 100%;
    max-width: 1400px;
    
}

.home-infos {
    width: 100%;
    margin-top: -230px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-top: 100px;
    padding-bottom: 250px;
    z-index: 2;
    background-color: black;
    flex-wrap: wrap;
}

.home-infos-box {
    height: 330px;
    width: 310px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
    padding-right: 70px;
    position: relative;
}

.home-infos-box-title {
    font-size: 29px;
    color: white;
    font-weight: 600;
    margin: 0;
}

.home-infos-box-text {
    color: white;
    font-size: 17px;
    margin: 0;
    font-weight: 500;
}

.home-infos-box-img {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.home-pourcentage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-bottom: 100px;
    flex-wrap: wrap;
}

.home-pourcentage-box {
    height: 310px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.home-pourcentage-box p {
    color: white;
    font-size: 1.4em;
    font-weight: 500;
    height: 50px;
}

.home-pourcentage-img {
    height: 80px;
    
}

.home-brands {
    min-height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5%;
    box-sizing: border-box;
    flex-direction: column;
}

.home-brands-title {
    font-size: 54px;
    color: white;
    font-weight: 800;
    width: 100%;
    text-align: left;
}

.home-brands-container-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap:25px;
    flex-wrap: wrap;
}

.home-brands-icons {
    border: 1px solid white;
    border-radius: 20px;
    width: 160px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-brands-img {
    height: 80%;
    width: 80%;
}

.home-news {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    box-sizing: border-box;
}

.home-news-container-articles {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap:10px
   
}

.home-news-articles {
    height: 140px;
    width: 415px;
    background-color: #B5B5B5;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
    box-sizing: border-box;
    border: 5px solid #B5B5B5;
    cursor: pointer;
}

.home-news-articles-title {
    font-weight: 800;
}

.home-news-articles-container-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.home-news-articles:hover {
    border: 5px solid #FEFF9D;
}

.home-news-articles-container-date p {
    font-size: 13px;
}

.home-news-button-arrow {
    height: 40px;
    width: 40px;
}

.home-investors {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 5%;
    box-sizing: border-box;
}

.home-investors-brands {
    height: 110px;
    width: 305px;
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.home-investors-img {
    height: 70%;
    width: 70%;
}

.home-investors-container-brands {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 22px;
}

.home-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 50px;
}

.home-footer-left-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.home-footer-left-title {
    color:white;
    font-size: 25px;
    font-weight: 500;
}

.home-footer-left-form-text {
    color: white;
    font-size: 18px;
}

.home-footer-left-button {
    width: 80px;
    height: 40px;
    background-color: black;
    border: 1px solid #FEFF9D;
    border-radius: 5px;
    color: #FEFF9D;
    font-size: 20px;
    cursor: pointer;
}

.home-footer-left-input {
    width: 250px;
    height: 40px;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    border-radius: 5px;
}

.home-footerleft-form {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.home-footer-left-container-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-footer-right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.home-footer-right-container-left {
}

.home-footer-right-text {
    color: white;
    font-weight: 600;
    font-size: 18px;
    margin: 5px;
}